Repository open-edge-platform/edge-microvisor-toolkit-standalone-node, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, standalone-node

ignore shell check for auto generated files
  common.mk
Labels: root

EMT-S with emt-uos integration
  standalone-node/Makefile
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
  standalone-node/installation_scripts/bootable-usb-prepare.sh
  standalone-node/installation_scripts/build-emt-s-install-pkg.sh
  standalone-node/provisioning_scripts/cloud-init.yaml
  standalone-node/provisioning_scripts/collect-logs.sh
  standalone-node/provisioning_scripts/enable-dmv.sh
  standalone-node/provisioning_scripts/install-os.sh
  standalone-node/provisioning_scripts/os-partition.sh
  standalone-node/provisioning_scripts/rke2-setup-post-reboot.sh
  standalone-node/provisioning_scripts/start-provision.service
Labels: standalone-node

Emt uos integration (#50)
  standalone-node/Makefile
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
  standalone-node/installation_scripts/bootable-usb-prepare.sh
  standalone-node/installation_scripts/build-emt-s-install-pkg.sh
  standalone-node/provisioning_scripts/cloud-init.yaml
  standalone-node/provisioning_scripts/collect-logs.sh
  standalone-node/provisioning_scripts/enable-dmv.sh
  standalone-node/provisioning_scripts/install-os.sh
  standalone-node/provisioning_scripts/os-partition.sh
  standalone-node/provisioning_scripts/rke2-setup-post-reboot.sh
  standalone-node/provisioning_scripts/start-provision.service
Labels: standalone-node

get started revisions
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: standalone-node

chore: remove redundant files/images
  standalone-node/cluster_installers/docs/standalone-edge-node-installer.md
  standalone-node/cluster_installers/download_charts_and_images.sh
  standalone-node/cluster_installers/sen-k3s-installer.sh
Labels: standalone-node

Apply suggestions from code review
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: standalone-node

initial commit
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

readme revisions
  README.md
  standalone-node/docs/contribution.md
Labels: root, standalone-node

readme revisions 2
  README.md
Labels: root

readme review 3
  README.md
Labels: root

get started updates
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: standalone-node

get started revisions
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: standalone-node

duplicate removal+review correctioncs
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: standalone-node

review get_started readme docs
  README.md
  standalone-node/docs/contribution.md
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: root, standalone-node

trivy
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

trivy-fix
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

added cve in trivy ignore
  hook_os/.trivyignore
Labels: none

fix final check
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: [".github/**", "tools/**"]

root:
  - changed-files:
      - any-glob-to-any-file: "*"

standalone-node:
  - changed-files:
      - any-glob-to-any-file: "standalone-node/**"
