Repository open-edge-platform/edge-microvisor-toolkit-standalone-node, pull requests merged in 2025-06, with the labels that each got.

#56 chore: add secret for teams notification
  .github/workflows/post-merge-standalone-node.yaml
Labels: CI 🤖

#70 emt-uos repo url update for downloading
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
Labels: standalone-node

#77 USB based EMT upgrade for standalone node on top of uos integration
  standalone-node/VERSION
  standalone-node/docs/user-guide/emt-update-guide.md
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
  standalone-node/installation_scripts/build-emt-s-install-pkg.sh
  standalone-node/installation_scripts/write-image-to-usb.sh
  standalone-node/provisioning_scripts/cloud-init.yaml
  standalone-node/provisioning_scripts/install-os.sh
  standalone-node/provisioning_scripts/os-update.sh
Labels: CI 🤖, root, standalone-node

#71 Markdownlint and REUSE cleanup
  .markdownlintignore
  .reuse/dep5
  CODE_OF_CONDUCT.md
  REUSE.toml
  SECURITY.md
  standalone-node/.markdownlintignore
  standalone-node/.reuse/dep5
  standalone-node/REUSE.toml
  standalone-node/VERSION
  standalone-node/cluster_installers/docs/development-machine-usage.md
  standalone-node/cluster_installers/docs/standalone-edge-node-installer.md
  standalone-node/cluster_installers/readme.md
  standalone-node/docs/design-proposals/container-k3s-host.md
  standalone-node/docs/user-guide/Get-Started-Guide.md
  standalone-node/hook_os/readme.md
  standalone-node/host_os/readme.md
  standalone-node/installation_scripts/readme.md
Labels: root, standalone-node

#63 cloud-init configuration per image
  standalone-node/VERSION
  standalone-node/docs/design-proposals/image-specific-cloudinit.md
Labels: standalone-node

#83 update dm-verity to create lvm based on user input
  standalone-node/installation_scripts/config-file
  standalone-node/provisioning_scripts/enable-dmv.sh
  standalone-node/provisioning_scripts/install-os.sh
Labels: standalone-node

#86 fix: remove namespace and fix docs
  standalone-node/cluster_installers/docs/standalone-edge-node-installer.md
  standalone-node/cluster_installers/sen-k3s-installer.sh
Labels: standalone-node

#88 stanalone vm support for developers
  standalone-node/installation_scripts/bootable-usb-prepare.sh
  standalone-node/installation_scripts/build-emt-s-install-pkg.sh
  standalone-node/installation_scripts/standalone-vm-setup.sh
  standalone-node/provisioning_scripts/install-os.sh
  standalone-node/provisioning_scripts/os-partition.sh
Labels: standalone-node

#91 chore: enable flannel by default
  standalone-node/cluster_installers/readme.md
  standalone-node/cluster_installers/sen-k3s-installer.sh
Labels: standalone-node

#87 feat: add wrapper script and change logging
  standalone-node/cluster_installers/sen-k3s-installer.sh
  standalone-node/provisioning_scripts/cloud-init.yaml
  standalone-node/provisioning_scripts/k3s-configure.sh
Labels: standalone-node

#92 Dynamic cloud init updates
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
  standalone-node/installation_scripts/config-file
  standalone-node/installation_scripts/standalone-vm-setup.sh
  standalone-node/provisioning_scripts/cloud-init.yaml
  standalone-node/provisioning_scripts/install-os.sh
Labels: standalone-node

#90 feat: add alias for kubectl
  standalone-node/cluster_installers/sen-k3s-installer.sh
  standalone-node/provisioning_scripts/install-os.sh
Labels: standalone-node

#98 docs: Add note about alias
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: standalone-node

#100 custom user-apps setup on Edge node
  standalone-node/installation_scripts/bootable-usb-prepare.sh
  standalone-node/installation_scripts/build-emt-s-install-pkg.sh
  standalone-node/installation_scripts/config-file
  standalone-node/installation_scripts/standalone-vm-setup.sh
  standalone-node/installation_scripts/user-apps/readme.md
  standalone-node/provisioning_scripts/install-os.sh
Labels: standalone-node
