Repository open-edge-platform/edge-microvisor-toolkit-standalone-node, pull requests merged in 2025-07, with the labels that each got.

#104 Create pre-loading-user-apps.md
  standalone-node/docs/user-guide/pre-loading-user-apps.md
Labels: standalone-node

#106 fix: add helm specific env var
  standalone-node/provisioning_scripts/install-os.sh
Labels: standalone-node

#109 Boot entry creationfor boot from disk directly
  standalone-node/installation_scripts/standalone-vm-setup.sh
  standalone-node/provisioning_scripts/install-os.sh
Labels: standalone-node

#115 [cloud-init]: Creation of Openbox config file to launch xterm on alt+ctrl+t
  standalone-node/docs/user-guide/desktop-virtualization-cloud-init.md
Labels: standalone-node

#138 Updating the EMT bootkit uOS to latest available in file server
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
Labels: standalone-node

#136 cherry-picked commits to feature branch
  README.md
  standalone-node/docs/design-proposals/AB-update.md
  standalone-node/docs/design-proposals/image-specific-cloudinit.md
  standalone-node/docs/design-proposals/images/A_B-Update.png
  standalone-node/docs/design-proposals/images/A_B-Update.svg
  standalone-node/docs/design-proposals/user-config-lvm.md
  standalone-node/docs/user-guide/Get-Started-Guide.md
  standalone-node/docs/user-guide/desktop-virtualization-cloud-init.md
  standalone-node/docs/user-guide/desktop-virtualization-image-guide.md
  standalone-node/docs/user-guide/pre-loading-user-apps.md
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
  standalone-node/host_os/download_tmv.sh
  standalone-node/installation_scripts/bootable-usb-prepare.sh
  standalone-node/installation_scripts/standalone-vm-setup.sh
  standalone-node/installation_scripts/write-image-to-usb.sh
  standalone-node/provisioning_scripts/cloud-init.yaml
  standalone-node/provisioning_scripts/install-os.sh
  standalone-node/provisioning_scripts/k3s-configure.sh
  standalone-node/provisioning_scripts/os-partition.sh
Labels: root, standalone-node

#140 feat: image download docs
  standalone-node/docs/user-guide/Get-Started-Guide.md
  standalone-node/docs/user-guide/emt-update-guide.md
  standalone-node/installation_scripts/download_images.sh
Labels: standalone-node

#145 Updating the manifest location and multus patching
  standalone-node/installation_scripts/download_images.sh
Labels: standalone-node

#150 Updating the manifest location and multus patching (#145)
  standalone-node/installation_scripts/download_images.sh
Labels: standalone-node

#154 Remove the commented code from the scripts.
  standalone-node/host_os/download_tmv.sh
Labels: standalone-node

#158 [Fix]: [USB device] On hot plug, make sure qemu:qemu owns the device
  standalone-node/docs/user-guide/desktop-virtualization-image-guide.md
Labels: documentation, standalone-node

#163 Update with EMT images from file server for engineering release
  standalone-node/VERSION
  standalone-node/docs/user-guide/get-started-guide.md
  standalone-node/emt_uos/download_emt_ous_with_custom_scripts.sh
  standalone-node/host_os/download_tmv.sh
Labels: standalone-node

#164 Add infrastructure resource usage KPI section to guide
  standalone-node/VERSION
  standalone-node/docs/user-guide/desktop-virtualization-image-guide.md
Labels: standalone-node

#166 Updated the doc
  standalone-node/VERSION
  standalone-node/docs/user-guide/desktop-virtualization-image-guide.md
  standalone-node/docs/user-guide/get-started-guide.md
  standalone-node/docs/user-guide/pre-loading-user-apps.md
  standalone-node/images/ESC-install-dir.png
  standalone-node/images/chmod.png
  standalone-node/images/copy_pkg.png
  standalone-node/images/installation_flow.png
  standalone-node/images/obs-grafana-add-prometheus.png
  standalone-node/images/obs-grafana-build-dashboard.png
  standalone-node/images/obs-grafana-dashboard.png
  standalone-node/images/obs-grafana-datasource.png
  standalone-node/images/obs-grafana-prometheus.png
  standalone-node/images/obs-grafana-set.png
  standalone-node/images/overview.png
  standalone-node/images/unzip.png
  standalone-node/installation_scripts/readme.md
Labels: standalone-node

#168 Update get-started-guide.md
  standalone-node/VERSION
  standalone-node/docs/user-guide/get-started-guide.md
Labels: standalone-node

#180 Update get-started-guide.md with sudo execution
  standalone-node/VERSION
  standalone-node/docs/user-guide/get-started-guide.md
Labels: standalone-node

#181 Resolving review comments on documentation
  README.md
  standalone-node/VERSION
  standalone-node/host_os/readme.md
  standalone-node/installation_scripts/edgenode-logs-collection.sh
  standalone-node/installation_scripts/write-image-to-usb.sh
Labels: root, standalone-node
