Repository open-edge-platform/edge-microvisor-toolkit-standalone-node, pull requests merged in 2025-05, with the labels that each got.

#23 chore: add badges
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  README.md
Labels: CI 🤖, root

#29 Cleaned up requirement.txt
  requirements.txt
Labels: root

#22 changes to support rke2 start only first time
  .github/workflows/pre-merge.yml
  common.mk
  standalone-node/VERSION
  standalone-node/cluster_installers/sen-rke2-installer.sh
  standalone-node/hook_os/files/cloud-init.yaml
  standalone-node/hook_os/files/install-os.sh
  standalone-node/hook_os/files/rke2-setup-post-reboot.sh
  standalone-node/hook_os/hook-os.yaml
Labels: CI 🤖, root, standalone-node

#31 chore: fix zizmor findings
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-standalone-node.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#32 Update pre-merge.yml
  .github/workflows/pre-merge.yml
  .gitignore
Labels: CI 🤖, root, standalone-node

#27 Update Get-Started-Guide.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  standalone-node/VERSION
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: CI 🤖, root, standalone-node

#30 Update README.md
  .markdownlintignore
  README.md
  standalone-node/VERSION
  standalone-node/docs/contribution.md
  standalone-node/docs/submit-changes.drawio.png
  standalone-node/docs/user-guide/Get-Started-Guide.md
Labels: root, standalone-node

#33 Updated forbidden word
  standalone-node/VERSION
  standalone-node/cluster_installers/docs/development-machine-usage.md
  standalone-node/cluster_installers/docs/standalone-edge-node-installer.md
  standalone-node/cluster_installers/readme.md
  standalone-node/docs/user-guide/Get-Started-Guide.md
  standalone-node/hook_os/Makefile
  standalone-node/hook_os/files/install-os.sh
  standalone-node/hook_os/files/os-partition.sh
  standalone-node/host_os/readme.md
  standalone-node/installation_scripts/build-hook-os-iso.sh
Labels: standalone-node

#38 Update doc
  README.md
  standalone-node/README.md
  standalone-node/VERSION
  standalone-node/docs/contribution.md
Labels: root, standalone-node

#40 Bumped version 3.0.1
  standalone-node/VERSION
Labels: standalone-node

#45 chore: sort all zizmor findings
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-standalone-node.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖
